 <div id="banniere_image" class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center" id="presentation">
          <h1><strong>Vous avez une question? N'hésitez plus,<br/> contactez nous !</strong></h1>
        </div>
      </div>
    </div>

<div class="container">

  <form method="post">
   <!--Les inputs ont une largeur de 50% -->
   <div id="fg50">
  	<div class="form-group50">
      <label for="nom">Nom:</label>
      <input type="nom" class="form-control" id="nom" placeholder="Entrez votre nom">
    </div>
    <div class="form-group50">
      <label for="prenom">Prénom:</label>
      <input type="prenom" class="form-control" id="prenom" placeholder="Entrez votre prénom">
    </div>
    <div class="form-group50">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Entrez votre email">
    </div>
    <div class="form-group50">
      <label for="tel">Téléphone:</label>
      <input type="tel" class="form-control" id="tel" placeholder="Entrez votre numéro de téléphone">
    </div>
    </div>

   <!--Les inputs ont une largeur de 100% -->
   <div id="fg100">
    <div class="form-group100">
      <label for="suj">Sujet:</label>
      <input type="suj" class="form-control" id="suj" placeholder="Entrez le sujet de votre demande">
    </div>
    <div class="form-group100">
      <label for="msg">Message:</label>
      <textarea class="form-control" rows="6" id="msg" placeholder="Entrez votre message ici"></textarea>
      <!--<input type="msg" class="form-control" id="msg" placeholder="Entrez votre message ici">-->
    </div>
    </div>

   <!--Bouton d'envoie-->  
   <div id="env">
    <button type="envoie" class="btn btn-default">Envoyez</button>
   </div>

  </form>
</div>