
     <div id="banniere_image" class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center" id="presentation">
          <h2>Samobel, toujours proche de vous pour toutes prestations</h2>
        </div>
      </div>
    </div>
      
<div class="container">
	<div class="col-md-3" id="menu_pres">
      
      <h5 class="text-center" id="titre_text_pres">Prestations :</h5>
      <div class="col-md-12" id="presta">
      <ul class="nav nav-pills nav-stacked" id="liste_nav">
        
        <li id="titre_nav"><a data-slide-to="0" data-target="#myCarousel">Aménagement cuisine </a></li>
		<li id="titre_nav"><a data-slide-to="1" data-target="#myCarousel">Aménagement intérieur</a></li>
		<li id="titre_nav"><a data-slide-to="2" data-target="#myCarousel">Aménagement de dressing</a></li>
		<li id="titre_nav"><a data-slide-to="3" data-target="#myCarousel">Menuiserie</a></li>
		<li id="titre_nav"><a data-slide-to="4" data-target="#myCarousel">Menuiserie intérieure</a></li>
		<li id="titre_nav"><a data-slide-to="5" data-target="#myCarousel">Fabrication de meubles</a></li>
      </ul>
  </div>
    
    <div class="clearfix visible-lg"></div>
    <div class="col-md-12 text-center" >
          <button type="submit" class="btn btn-danger btn-lg" id="demande_devis"><i>Demandez un devis</i></button>
        </div>
</div>
</div>



<div class="container">
	<div class="row">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <div class="col-md-12 text-center" id="presentation_text">
         
        <p id="image_pres">
        <img src="./assets/amenagement_cuisine.jpg"/>
        </p>
      
        <h3 id="titre_text_pres">Aménagement cuisine :</h3>

        <div class="text-left" id="text_carousel">
         <ul>
         	<li id="titre_list_pres">Conseil en aménagement de cuisine</li>
         	<li id="titre_list_pres">Conception d'aménagement de cuisine</li>
         	<li id="titre_list_pres">Installation des meubles de cuisine</li>
         	<li id="titre_list_pres">Installation de l'électroménager</li>
         	<li id="titre_list_pres">Mise en place du plan de travail</li>
         </ul>
       </div>

      </div>
    </div>

    <div class="item">
      <div class="col-md-12 text-center" id="presentation_text">
         
        <p id="image_pres">
        <img src="./assets/amenag-int.jpg"/>
        </p>
      
        <h3 id="titre_text_pres">Aménagement intérieur :</h3>
        <div class="text-left" id="text_carousel">
         <ul>
         	<li id="titre_list_pres">Conseil en aménagement d'intérieur</li>
         	<li id="titre_list_pres">Réalisation de cuisine sur-mesure</li>
         	<li id="titre_list_pres">Conception de salle de bains </li>
         	<li id="titre_list_pres">Aménagement de salon</li>
         	<li id="titre_list_pres">Aménagement des chambres</li>
         	<li id="titre_list_pres">Réalisation de salle à manger</li>
         
         </ul>
       </div>
      </div>
    </div>

    <div class="item">
      <div class="col-md-12 text-center" id="presentation_text">
         
        <p id="image_pres">
        <img src="./assets/dressing.jpg"/>
        </p>
      
        <h3 id="titre_text_pres">Aménagement dressing :</h3>
        <div class="text-left" id="text_carousel">
         <ul>
         	<li id="titre_list_pres">Conseil en aménagement de dressing</li>
         	<li id="titre_list_pres">Conception de dressing sur-mesure</li>
         	<li id="titre_list_pres">Installation d'armoire</li>
         	<li id="titre_list_pres">Installation de penderie</li>
         	<li id="titre_list_pres">Fabrication sur-mesure de tiroir </li>
         	<li id="titre_list_pres">Fabrication sur-mesure d' étagére</li>
         </ul>
       </div>
      </div>
    </div>

    <div class="item">
      <div class="col-md-12 text-center" id="presentation_text">
         
        <p id="image_pres">
        <img src="./assets/meuniserie.jpg"/>
        </p>
      
        <h3 id="titre_text_pres">Menuiserie :</h3>
        <div class="text-left" id="text_carousel">
         <ul>
         	<li id="titre_list_pres">Fabrication et installation de portes sur-mesure</li>
         	<li id="titre_list_pres">Fabrication et installation de fenêtre sur-mesure</li>
         	<li id="titre_list_pres">Fabrication et installation d'escalier sur-mesure</li>
         	<li id="titre_list_pres">Fabrication et installation de volet sur-mesure</li>
         	<li id="titre_list_pres">Fabrication et installation de veranda sur-mesure</li>
         </ul>
       </div>
      </div>
    </div>

    <div class="item">
      <div class="col-md-12 text-center" id="presentation_text">
         
        <p id="image_pres">
        <img src="./assets/menuiserie-int.jpg"/>
        </p>
      
        <h3 id="titre_text_pres">Menuiserie interieur :</h3>
        <div class="text-left" id="text_carousel">
         <ul>
         	
         	<li id="titre_list_pres">Création de portes d'intérieur</li>
         	<li id="titre_list_pres">Pose de parquet</li>
         	<li id="titre_list_pres">Fabrication de mezzanines</li>
         	<li id="titre_list_pres">Rénovation de meubles</li>
         	<li id="titre_list_pres">Rénovation de porte et fenêtre </li>
         	<li id="titre_list_pres">Pose de revêtement décoratif de type lambris</li>
         	
         </ul>
       </div>
      </div>
  </div>

	<div class="item">
      <div class="col-md-12 text-center" id="presentation_text">
         
        <p id="image_pres">
        <img src="./assets/meubles.jpg"/>
        </p>
      
        <h3 id="titre_text_pres">Fabrication de meubles  :</h3>
        <div class="text-left" id="text_carousel">
         <ul>
         	<li id="titre_list_pres">Fabrication d'armoire sur-mesure</li>
         	<li id="titre_list_pres">Fabrication de table et chaise sur-mesure</li>
         	<li id="titre_list_pres">Fabrication de meuble de chambre sur-mesure</li>
         	<li id="titre_list_pres">Fabrication de meuble de cuisine sur-mesure</li>
         	<li id="titre_list_pres">Conception de meuble de salle de bains sur-mesure</li>
         	<li id="titre_list_pres">Conception de dressing sur-mesure</li>
         </ul>
       </div>
      </div>
  </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
</div>
</div>
