
<!-- Toolbar --> 
<div class="toolbar" role="banner">
  <img
    class="img-circle center-block"
    alt="Generic placeholder image" width="200" height="200"
    src="./assets/logo_samo.png"
  />
</div> 
<!-- fin toolbar -->

<!-- barre de navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
       <a class="navbar-brand" href="accueil">SAMOBEL</a>
        
        <ul class="nav navbar-nav navbar-center">
          <li routerLinkActive="active"><a routerLink="accueil">Accueil</a></li> <!--Création d'un lien qui raffraichit la page -->
          <li routerLinkActive="active"><a routerLink="prestations">Prestations</a></li> <!--Création d'un lien vers la page "Prestations" du site-->
          <li routerLinkActive="active"><a routerLink="devis">Devis</a></li> <!--Création d'un lien vers la page "Devis" du site -->
          <li routerLinkActive="active"><a routerLink="réalisations">Réalisations</a></li> <!--Création d'un lien vers la page "Réalisations" du site -->
          <li routerLinkActive="active"><a routerLink="contact">Contact</a></li> <!--Création d'un lien vers l'ancre "Contact"-->
        </ul>
        <form class="navbar-form navbar-right" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="">
          </div>
          <button type="submit" class="btn btn-default"> <i class="glyphicon glyphicon-search"></i></button>
        </form>
    </div>
</nav> 
<!-- fin de navigation -->


<div><router-outlet></router-outlet><div>
<!--Page d'accueil-->
<!--<div><app-accueil></app-accueil></div>-->
<!--fin Page d'accueil-->

<!--<div><app-prestations></app-prestations></div>-->
<!--<div><app-devis></app-devis></div>-->
<!--<div><app-contact></app-contact></div>-->
<!--<div><app-realisation></app-realisation></div>-->


 <!----------- Footer ------------>
   <footer class="footer-bs">
        <div class="row">
          <div class="col-md-3 footer-brand animated fadeInLeft">
              <h2 class="text-center">SAMOBEL</h2>
                <p class="text-justify">Expert en aménagement de cuisines, menuiserie intérieure, menuiserie générale, pose de parquets, installation de fenêtres, fabrication de meubles sur mesure, aménagement intérieur, aménagement de dressing</p>
                <p>© 2020 Copyright: SAMOBEL</p>
          </div>
          <div class="col-md-3 footer-nav animated fadeInUp">
              
              <div class="col-md-6">
                    <ul class="list">
                        <li><a routerLink="prestations">Prestations</a></li>
                        <li><a routerLink="réalisations">Réalisations</a></li>
                        <li><a routerLink="devis">Devis</a></li>
                        <li><a routerLink="accueil">Plan du site</a></li>
                        <li><a routerLink="accueil">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
          <div class="col-md-3 footer-social animated fadeInDown">
              <h4 class="text-center">Contact</h4>
           
              <ul>
                  <li  class="text-center"><i class="glyphicon glyphicon-home"></i>  Rue 10 N°42, Kénitra</li>
                  <li  class="text-center"> <i class="glyphicon glyphicon-envelope"></i> elmoulattafmouhcine@gmail.com</li>
                  <li  class="text-center"><i class="glyphicon glyphicon-phone-alt"></i> +212 6 61 60 18 98</li>
                </ul>
            </div>
          <div class="col-md-3 footer-ns animated fadeInRight">
              <h4>Localisation</h4>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3297.677864049032!2d-6.6038104847795465!3d34.25676268055079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda759931650e415%3A0x78a9a01b7210fab6!2sRue%2010%2C%20K%C3%A9nitra%2C%20Maroc!5e0!3m2!1sfr!2sfr!4v1598566176900!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                 
            </div>
        </div>
    </footer> 

    <!-- fin footer-->