
<!--Partie autonome de la page-->

     <div id="banniere_image" class="container-fluid">
      <div class="row">
        <div class="col-md-3 text-center" id="presentation">
          <h2>Samobel</h2>
          <h3>Société de Menuiserie et d'aménagement d'intérieur</h3>
          <p>Aménagement intérieur - Aménagement de cuisines - Aménagement de dressing - Fabrication de meubles - Installation de fenêtres - Menuiserie - Menuiserie intérieure - Parquets</p>
        </div>
        <div class="col-md-4 col-md-push-4">
          <button type="submit" class="btn btn-danger btn-lg" id="demande_devis"><i>Demandez un devis</i></button>
        </div>
      </div>
    </div>
      
    
<!--Fin de la Partie autonome de la page-->












<!--

<ul class="list-group">
  <app-post-list-item *ngFor= "let post of posts; let i=index"
  [titres]="post.title"
  [contenu]="post.contenu"
  [misAjour]="post.created_at"
  [likes]="post.loveIts"
  [indexPost]="i"></app-post-list-item>
</ul>
-->